{% extends 'index.html' %}
{% block title %} Signup {% endblock %}

{% block body %}
    <h1>Change Password</h1>
    <br>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
        {% for x in form %}
        {{ x.label_tag }} {{x}} {{x.errors|striptags}}  <br><br>
        {% endfor %}
    <input type="submit" value="Change" class="btn btn-primary">
</form>
<br><br>
<a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
<a href="{% url 'content' %}" class="btn btn-primary">Table</a>

{% endblock body %}