{% extends 'index.html' %}
{% block title %} Signup {% endblock %}

{% block body %}
<h1>Sign Up</h1>
<br>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endif %}
        {% for x in form %}
        {{ x.label_tag }} {{x}} <br> {{x.errors|striptags}}  <br><br>
        {% endfor %}
        <br>
        {% if form.first_name.errors %}
    <div class="error">{{ form.first_name.errors }}</div>
  {% endif %}
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<br><br>
<p>Already have an account?</p>
<a href="{% url 'login' %}" class="btn btn-primary">Login Instead</a>
<br>
{% if messages %}
{% for message in messages %}
<small {% if message.tags %} class='{{message.tags}}' {% endif %} >{{message}}</small>
{% endfor %}
{% endif %}

{% endblock body %}