{% extends 'navbar.html' %}
{% block title %} Home {% endblock %}

{% block body %}
 <h1>Insert your information</h1>

<div class="row justify-content-center">
    <div class="col-6">
        <form action="" method="POST">
           {% csrf_token %}
           <div class="card">
             <div class="card-body">
               <h5 class="card-title"><h1>Member Form</h1></h5>
           </div>
           {{ form.as_p }}          
             <button class="btn btn-primary" type="submit" value="submit">Submit</button>
           </div>
         </form>

    </div>
</div>
  
{% endblock body %}